@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(63deg, #F4C2AA 17%, rgba(255, 122, 151, 0.5) 4%), linear-gradient(57deg, rgba(0, 43, 99, 0.07922090238615942) 44%, rgb(206 133 133 / 10%) 18%), linear-gradient(50deg, rgb(84 202 242 / 27%) 40%, rgb(255 122 151 / 50%) 54%),linear-gradient(40deg, rgb(232 90 237 / 53%) 77%, rgb(255 122 151 / 15%) 13%);
    background-blend-mode: normal,lighten,multiply,hard-light;
    font-family: 'DM Sans', sans-serif;
    overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 100%;
    background: rgba(0,0,0,.37);
    position: sticky;
    z-index: 2;
    top: 0px;
}

.nav__logo {
    margin-left: 160px;
}

.logo__image  {
    height: 40px;
    width: 40px;
    border-radius: 30%;
}

.nav__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 70%;
    margin-left: auto;
}

.nav__item {
    color: #FFFFFF;
    transition: 0.4s;
    transform: scale(1.2);
}

.container__main {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

.todo__container {
    border-radius: 8px;
    width: 100%;
    max-width: 480px;
    max-height: 100%;
    background-color: #10101d;
    padding: 24px;
    overflow: auto;
}

.todo__title {
    font-size: 20px;
    line-height: 32px;
    margin: 0 0 12px 0;
    color: #fff;
    text-align: center;
}

.add__task {
    height: 40px;
    font-size: 14px;
    display: flex;
    margin-bottom: 12px;
}

.new__todo {
	font-size: 20px;
	border-right: none;
    width: 100%;
    padding: 0 4px;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    margin-right: 12px;
    color: #fff;
    box-shadow: none;
    border-radius: 0;
}

.submit__task {
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    border: none;
    background: #ee9ca7;
    color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-plus'%3E%3Cline x1='12' y1='5' x2='12' y2='19'/%3E%3Cline x1='5' y1='12' x2='19' y2='12'/%3E%3C/svg%3E");
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 12px 0 rgba(238, 156, 167,0.4);
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
}

.edit {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 24px;
	border: 0;
	outline: none;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
}

.mark__all:before {
	content: '❯';
	font-size: 20px;
	color: #e6e6e6;
}

.mark__all:checked:before {
  color: #737373;
}

.mark__all {
	text-align: center;
	border: none;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-appearance: none;
}

.todo__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.todo__list li {
	position: relative;
	font-size: 20px;
	border-bottom: 1px solid #ededed;
}

.todo__list li:last-child {
	border-bottom: none;
}

.todo__list li.checked {
	color: #979797;
	font-weight: normal;
	text-decoration: line-through;
	
}

.todo__list li.checked input[type="checkbox"]:after {
	border-radius: 50%;
	color: #fff;
	content: "";
	display: block;
	height: 25px;
	line-height: 16px;
	position: absolute;
	text-align: center;
	visibility: visible;
	width: 25px;
	box-shadow: 0 0 12px 0 rgba(238, 156, 167,0.4);
}

.todo__list li.checked input[type=checkbox]:checked:after  {
	border: 1px solid #979797;
	background: #ee9ca7;
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check' stroke='%23fff'%3E%3Cpolyline points='20 6 9 17 4 12'/%3E%3C/svg%3E");
	font-size: 15px; 
}

.todo__list li .itemList {
	text-align: center;
  	height: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
}

.todo__list li label {
	color: #fff;
	white-space: pre-line;
	word-break: break-all;
	padding: 15px 60px 15px 15px;
	margin-left: 45px;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
}

.todo__list input[type=checkbox] {
	cursor: pointer;
	visibility: hidden;
	margin-left: 20px;
}

.todo__list input[type="checkbox"]:after {
	border-radius: 50%;
	color: #fff;
	content: "";
	display: block;
	height: 25px;
	line-height: 16px;
	position: absolute;
	text-align: center;
	visibility: visible;
	width: 25px;
	box-shadow: 0 0 12px 0 rgba(238, 156, 167,0.4);
}

.todo__list input[type=checkbox]:checked:after {
	border: 1px solid #979797;
	background: #ee9ca7;
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check' stroke='%23fff'%3E%3Cpolyline points='20 6 9 17 4 12'/%3E%3C/svg%3E");
	font-size: 18px; 
}
 
.todo__list input[type=checkbox]:checked + label {
	color: #979797;
	font-weight: normal;
	text-decoration: line-through;
}

.todo__list li .remove {
	display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 30px;
	color: #cc9a9a;
	margin-bottom: 11px;
	transition: color 0.2s ease-out;
	cursor: pointer;
}

.todo__list li .remove:hover {
	color: #af5b5e;
}

.todo__list li .remove:after {
	content: '×';
}

.todo__list li:hover .remove {
	display: block;
}

.edit {
	display: none;
}

li.editing {
	display: block;
	width: 430px;
}

li.editing > label {
	display: none;
}

li.editing > input.edit {
	display: block !important;
}

li:hover.editing > button.remove {
	display: none ;
}

.todo__list li.editing .edit {
	display: block;
	width: 506px;
	padding: 13px 17px 12px 17px;
	margin: 10px 0 0 43px;
}

.show-all {
	display: block;
}

.todo__list li.editing:last-child {
	margin-bottom: -1px;
}

.last__secction {
	color: #777;
	padding: 10px 15px;
	height: 20px;
	text-align: center;
}

.last__secction:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
	            0 8px 0 -3px #f6f6f6,
	            0 9px 1px -3px rgba(0, 0, 0, 0.2),
	            0 16px 0 -6px #f6f6f6,
	            0 17px 2px -6px rgba(0, 0, 0, 0.2);
}
	
.todo__count {
  float: left;
  text-align: left;
}

.filters {
	display: flex;
    justify-content: space-evenly;
    align-content: center;
	align-items: center;
	padding: 0;
}

.filters__list {
  display: inline;
}

.filters__list a {
  color: #777;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.filters__list  a.selected {
  
  box-shadow: 0 0 12px 0 rgb(238 156 167 / 40%);
}

.clear__completed, html .clear__completed:active {
    float: right;
    position: relative;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
}

.clear__completed:hover {
	text-decoration: underline;
}

.footer {
	position: sticky;
	bottom: 0;
	min-height: 50px;
    background-color: rgba(0,0,0,.37);;
    color: #fff;
    font-size: 17px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.links__list {
	display: inline;
	margin-right: 20px;
}

.logo__link {
	height: 28px;
    width: 28px;
    border-radius: 40%;
}
